<!-- Header and Nav -->

<div class="row">
<div class="two columns">
  <h1>GiftBook</h1>
</div>
<div class="ten columns">
  <%= flash['notice'] %>
  <ul class="nav-bar right">
    <% if @auth.present? %>
      <%= link_to "Logout", '/login', :method=>'delete', :class=>'button' %>
    <% else %>
      <%= link_to "login", '/login', :class=>'button' %>
    <% end %>

  </ul>
</div>
</div>
