<!-- Header and Nav -->
<nav class="top-bar">
  <ul class='title-area'>
    <li class="name">
      <div class="button">BookMob</h1>
    </li>
  </ul>
  <div class="ten columns">
    <%= flash['notice'] %>
    <ul class="nav-bar right">
      <% if @auth.present? %>
        <%= link_to "Signed in as #{@auth.name}", "#", :class => 'button' %>
        <%= link_to "Sign out", '#', :class => 'button' %>
      <% else %>
        <%= link_to "Sign in with Twitter", "auth/twitter", :class => 'button' %>
      <% end %>
    </ul>
  </div>
</nav>
